# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [54]:
import numpy as np
import pandas as pd
import seaborn as sns

In [55]:
df0 = pd.read_csv('demo01.csv')
df0.head(10)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False
5,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False
6,F,N,Y,0,Working,Secondary / secondary special,Married,House / apartment,27.482192,4.024658,1,0,1,0,2.0,False
7,F,N,Y,0,Working,Secondary / secondary special,Married,House / apartment,27.482192,4.024658,1,0,1,0,2.0,False
8,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,30.049315,4.438356,1,0,0,0,2.0,False
9,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,30.049315,4.438356,1,0,0,0,2.0,False

In [56]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [57]:
df0.shape

(16650, 16)

In [58]:
df0.drop_duplicates().shape

(6770, 16)

In [59]:
# verifica dados faltentes
df0.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [60]:
df0.isnull().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [61]:
# verifica tipos de valores da var `mau`
df0.mau.value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

In [62]:
# define novo df enxuto, sem linhas duplicadas
# df1=df0.copy()
df1=df0.drop_duplicates()
df1.reset_index(drop=True, inplace=True)
df1.tail()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
6765,F,N,Y,1,Working,Secondary / secondary special,Single / not married,House / apartment,34.857534,3.101370,1,1,1,0,1.0,True
6766,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
6767,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
6768,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
6769,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [63]:
# nova contagem de volares da var `mau`
df1.mau.value_counts()

mau
False    6472
True      298
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [64]:
df1.educacao.value_counts()

educacao
Secondary / secondary special    4695
Higher education                 1743
Incomplete higher                 249
Lower secondary                    78
Academic degree                     5
Name: count, dtype: int64

In [65]:
df1.educacao.nunique()

5

In [66]:
df1.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [67]:
# define nova df para guardar tipo e qtd_categorias de cada variavel
dfcat = pd.DataFrame(df1.dtypes).reset_index(drop=False)
dfcat.columns=['variavel','tipo']
# dfcat.head()
for idr, row in dfcat.iterrows():
    if str(row.tipo) in ['object','bool','int64']:
        dfcat.loc[idr, 'qtd_categorias'] = df1[row.variavel].nunique()
    else:
        dfcat.loc[idr, 'qtd_categorias'] = None

dfcat

                 variavel     tipo  qtd_categorias
0                    sexo   object             2.0
1        posse_de_veiculo   object             2.0
2         posse_de_imovel   object             2.0
3              qtd_filhos    int64             8.0
4              tipo_renda   object             5.0
5                educacao   object             5.0
6            estado_civil   object             5.0
7         tipo_residencia   object             6.0
8                   idade  float64             NaN
9           tempo_emprego  float64             NaN
10         possui_celular    int64             1.0
11  possui_fone_comercial    int64             2.0
12            possui_fone    int64             2.0
13           possui_email    int64             2.0
14  qt_pessoas_residencia  float64             NaN
15                    mau     bool             2.0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [68]:
for idr, row in dfcat.iterrows():
    # print(row.variavel)
    # print(df1[row.variavel].unique())
    if row.variavel in ['sexo','posse_de_veiculo','posse_de_imovel','tipo_renda','educacao','estado_civil','tipo_residencia']:
        dfcat.loc[idr, 'get_dummy'] = True
    else:
        dfcat.loc[idr, 'get_dummy'] = False

dfcat

                 variavel     tipo  qtd_categorias get_dummy
0                    sexo   object             2.0      True
1        posse_de_veiculo   object             2.0      True
2         posse_de_imovel   object             2.0      True
3              qtd_filhos    int64             8.0     False
4              tipo_renda   object             5.0      True
5                educacao   object             5.0      True
6            estado_civil   object             5.0      True
7         tipo_residencia   object             6.0      True
8                   idade  float64             NaN     False
9           tempo_emprego  float64             NaN     False
10         possui_celular    int64             1.0     False
11  possui_fone_comercial    int64             2.0     False
12            possui_fone    int64             2.0     False
13           possui_email    int64             2.0     False
14  qt_pessoas_residencia  float64             NaN     False
15                    mau     bool             2.0     False

In [69]:
# define dummies
x=dfcat[dfcat.get_dummy==True].variavel
dfnew = pd.get_dummies(df1, columns=x, drop_first=True)
dfnew.head()

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_M,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,True,...,True,True,False,False,False,True,False,False,False,False
1,0,52.356164,8.358904,1,0,1,1,1.0,False,False,...,True,False,False,True,False,True,False,False,False,False
2,0,46.224658,2.106849,1,1,1,1,2.0,False,True,...,False,True,False,False,False,True,False,False,False,False
3,0,29.230137,3.021918,1,0,0,0,2.0,False,False,...,False,True,False,False,False,True,False,False,False,False
4,0,27.482192,4.024658,1,0,1,0,2.0,False,False,...,True,True,False,False,False,True,False,False,False,False

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [70]:
pd.crosstab(dfnew.possui_email, dfnew.posse_de_veiculo_Y)

posse_de_veiculo_Y  False  True
possui_email
0                    3878   2327
1                     333    232

In [74]:
pd.crosstab(dfnew.mau, dfnew.possui_email)

possui_email     0    1
mau
False         5927  545
True           278   20

In [75]:
pd.crosstab(dfnew.mau, dfnew.posse_de_veiculo_Y)

posse_de_veiculo_Y  False  True
mau
False                4021   2451
True                  190    108

In [85]:
dfnew[['possui_email','posse_de_veiculo_Y','mau']].loc[dfnew.mau==False].groupby(['possui_email','posse_de_veiculo_Y']).count()

                                  mau
possui_email posse_de_veiculo_Y
0            False               3696
             True                2231
1            False                325
             True                 220

>Embora não exista uma correlação entre as variáveis `possui_email` e `posse_de_veiculo`, nem dessas com a variável `mau`, apostar em `possui_email` tem maior probabilidade de acertar o valor de `mau`, pois `possui_email=0` compreende um montante significativo de `mau=False`.

In [88]:
pd.crosstab(dfnew.mau, dfnew.possui_email)

possui_email     0    1
mau
False         5927  545
True           278   20

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [73]:
dfnew.to_csv('./minhabase.csv')