# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np


listaDados = [-0.08,-0.27, 0.12,-0.03, 0.26, 0.40, 1.02]

ssAnomalia=pd.Series(listaDados)
ssAnomalia

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
listaAnos = np.arange(1900,2040,20)
ssAnomalia = pd.Series(listaDados, index=listaAnos)
ssAnomalia

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0    94.571072   92.359856   97.463516
1   108.534260  102.876578  100.443657
2   114.810739  113.915525   90.988063
3   111.052477   82.501792  104.835759
4   101.160238   90.113978  107.445057
5    94.319563   90.607073   87.651754
6   106.569278   94.028638  110.878577
7    99.821745   87.541937   81.014673
8   108.445445  101.225518  102.312331
9   109.298141   92.352748   93.545119
10   93.552517  105.266121   98.904681
11  104.117686  111.331865  101.510355
12  100.153693  106.895706   94.643411
13   93.256864   83.626967   92.951954
14   99.661590  112.362011  100.990184
15  101.015141  106.748700   93.927497
16   96.362141   95.044499   92.674509
17   96.305458  106.995759   93.096900
18  101.496274  103.121576  117.765214
19   91.275549   84.635620   97.233820

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
df_arr = pd.DataFrame(arr, index=np.arange(1,21,1), columns=['x1','x2','x3'])
df_arr

            x1          x2          x3
1    94.571072   92.359856   97.463516
2   108.534260  102.876578  100.443657
3   114.810739  113.915525   90.988063
4   111.052477   82.501792  104.835759
5   101.160238   90.113978  107.445057
6    94.319563   90.607073   87.651754
7   106.569278   94.028638  110.878577
8    99.821745   87.541937   81.014673
9   108.445445  101.225518  102.312331
10  109.298141   92.352748   93.545119
11   93.552517  105.266121   98.904681
12  104.117686  111.331865  101.510355
13  100.153693  106.895706   94.643411
14   93.256864   83.626967   92.951954
15   99.661590  112.362011  100.990184
16  101.015141  106.748700   93.927497
17   96.362141   95.044499   92.674509
18   96.305458  106.995759   93.096900
19  101.496274  103.121576  117.765214
20   91.275549   84.635620   97.233820

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
df_arr['media'] = (df_arr['x1'] + df_arr['x2'] + df_arr['x3']) / 3
df_arr

            x1          x2          x3       media
1    94.571072   92.359856   97.463516   94.798148
2   108.534260  102.876578  100.443657  103.951499
3   114.810739  113.915525   90.988063  106.571442
4   111.052477   82.501792  104.835759   99.463343
5   101.160238   90.113978  107.445057   99.573091
6    94.319563   90.607073   87.651754   90.859463
7   106.569278   94.028638  110.878577  103.825497
8    99.821745   87.541937   81.014673   89.459452
9   108.445445  101.225518  102.312331  103.994431
10  109.298141   92.352748   93.545119   98.398670
11   93.552517  105.266121   98.904681   99.241106
12  104.117686  111.331865  101.510355  105.653302
13  100.153693  106.895706   94.643411  100.564270
14   93.256864   83.626967   92.951954   89.945262
15   99.661590  112.362011  100.990184  104.337928
16  101.015141  106.748700   93.927497  100.563779
17   96.362141   95.044499   92.674509   94.693716
18   96.305458  106.995759   93.096900   98.799372
19  101.496274  103.121576  117.765214  107.461022
20   91.275549   84.635620   97.233820   91.048330

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
df_arr['log_med'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media   log_med
1    94.571072   92.359856   97.463516   94.798148  4.551750
2   108.534260  102.876578  100.443657  103.951499  4.643924
3   114.810739  113.915525   90.988063  106.571442  4.668816
4   111.052477   82.501792  104.835759   99.463343  4.599789
5   101.160238   90.113978  107.445057   99.573091  4.600892
6    94.319563   90.607073   87.651754   90.859463  4.509314
7   106.569278   94.028638  110.878577  103.825497  4.642712
8    99.821745   87.541937   81.014673   89.459452  4.493785
9   108.445445  101.225518  102.312331  103.994431  4.644337
10  109.298141   92.352748   93.545119   98.398670  4.589027
11   93.552517  105.266121   98.904681   99.241106  4.597552
12  104.117686  111.331865  101.510355  105.653302  4.660163
13  100.153693  106.895706   94.643411  100.564270  4.610797
14   93.256864   83.626967   92.951954   89.945262  4.499201
15   99.661590  112.362011  100.990184  104.337928  4.647635
16  101.015141  106.748700   93.927497  100.563779  4.610792
17   96.362141   95.044499   92.674509   94.693716  4.550648
18   96.305458  106.995759   93.096900   98.799372  4.593091
19  101.496274  103.121576  117.765214  107.461022  4.677128
20   91.275549   84.635620   97.233820   91.048330  4.511390