## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [41]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [42]:
# 1) Seu código aqui
df_mat['Pc_acertos'] = df_mat['Qt_acertos'] / 24
df_por['Pc_acertos'] = df_por['Qt_acertos'] / 18
df_geo['Pc_acertos'] = df_geo['Qt_acertos'] / 8
df_ing['Pc_acertos'] = df_ing['Qt_acertos'] / 8
df_his['Pc_acertos'] = df_his['Qt_acertos'] / 8
df_fis['Pc_acertos'] = df_fis['Qt_acertos'] / 8
df_qui['Pc_acertos'] = df_qui['Qt_acertos'] / 8

# pc_mat = df_mat / 24
# pc_por = df_por / 18
# pc_geo = df_geo /  8
# pc_ing = df_ing /  8
# pc_his = df_his /  8
# pc_fis = df_fis /  8
# pc_qui = df_qui /  8

# df_mat['Pc_acertos'] = pc_mat
# df_por['Pc_acertos'] = pc_por
# df_geo['Pc_acertos'] = pc_geo
# df_ing['Pc_acertos'] = pc_ing
# df_his['Pc_acertos'] = pc_his
# df_fis['Pc_acertos'] = pc_fis
# df_qui['Pc_acertos'] = pc_qui

In [43]:
df_mat

    Qt_acertos  Pc_acertos
0            6    0.250000
1           19    0.791667
2           14    0.583333
3           10    0.416667
4            7    0.291667
..         ...         ...
95           6    0.250000
96           8    0.333333
97          23    0.958333
98           0    0.000000
99          11    0.458333

[100 rows x 2 columns]

In [44]:
nquestoes= 24+18+5*8
nquestoes

82

In [45]:
# 2) Seu código aqui
df_totals = pd.DataFrame(
       data={
              'Mat':list(df_mat['Qt_acertos']),
              'Por':list(df_por['Qt_acertos']),
              'Geo':list(df_geo['Qt_acertos']),
              'Ing':list(df_ing['Qt_acertos']),
              'His':list(df_his['Qt_acertos']),
              'Fis':list(df_fis['Qt_acertos']),
              'Qui':list(df_qui['Qt_acertos']),
              'Total':list(df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos'] + df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos'])
       }
)

df_totals.Total

0     35
1     48
2     50
3     32
4     30
      ..
95    34
96    27
97    40
98    40
99    42
Name: Total, Length: 100, dtype: int64

In [46]:
# 3) Seu código aqui
# total/90
df_totals['Pc_geral'] = df_totals.Total / nquestoes
df_totals

    Mat  Por  Geo  Ing  His  Fis  Qui  Total  Pc_geral
0     6    7    7    3    1    8    3     35  0.426829
1    19   10    0    0    0   11    8     48  0.585366
2    14   16    0    5    7    4    4     50  0.609756
3    10    7    3    4    0    0    8     32  0.390244
4     7    2    2    7    0    9    3     30  0.365854
..  ...  ...  ...  ...  ...  ...  ...    ...       ...
95    6    4    7    1    4    9    3     34  0.414634
96    8    1    4    6    1    4    3     27  0.329268
97   23    5    0    2    4    1    5     40  0.487805
98    0   10    3    1    5   10   11     40  0.487805
99   11   15    0    1    6    7    2     42  0.512195

[100 rows x 9 columns]

In [66]:
# 4) Seu código aqui
# total_gt_45 =
# total_gt_45.count()

df_totals["Aprovado"] = df_totals['Total'] > 45
num_aprovados = df_totals[df_totals['Aprovado']==True].Aprovado.count()
# aprovados = df_totals.Aprovado[df_totals.Aprovado==True].count()
num_aprovados

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [88]:
# seu código aqui
# df_eliminados = total[(df_mat['Qt_acertos'] == 0) |
#                       (df_fis['Qt_acertos'] == 0) |
#                       (df_qui['Qt_acertos'] == 0)]
df_totals['Eliminado'] = None
df_totals['Fase2'] = None
df_totals['Eliminado'] = (df_totals.Mat == 0) | (df_totals.Fis == 0) | (df_totals.Qui == 0)
df_totals['Fase2'] = (df_totals.Aprovado == True) & (df_totals.Eliminado == False)
df_totals

,Mat,Por,Geo,Ing,His,Fis,Qui,Total,Pc_geral,Aprovado,Eliminado,Fase2
0,6,7,7,3,1,8,3,35,0.426829,False,False,False
1,19,10,0,0,0,11,8,48,0.585366,True,False,True
2,14,16,0,5,7,4,4,50,0.609756,True,False,True
3,10,7,3,4,0,0,8,32,0.390244,False,True,False
4,7,2,2,7,0,9,3,30,0.365854,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,0.414634,False,False,False
96,8,1,4,6,1,4,3,27,0.329268,False,False,False
97,23,5,0,2,4,1,5,40,0.487805,False,False,False
98,0,10,3,1,5,10,11,40,0.487805,False,True,False
99,11,15,0,1,6,7,2,42,0.512195,False,False,False

In [89]:
# Numero de desqualificados/eliminados
num_eleimandos = df_totals[df_totals.Eliminado == True].Eliminado.count()
num_eleimandos

23

In [91]:
# Media em Historia dos candidatos eliminados
df_totals[df_totals.Eliminado==True].His.mean()

3.4347826086956523

In [92]:
# Media em Geografia dos candidatos eliminados
df_totals[df_totals.Eliminado==True].Geo.mean()

3.217391304347826

In [95]:
# Aprovados para a 2a fase
df_fase2 = df_totals[df_totals.Fase2 == True]
df_fase2

,Mat,Por,Geo,Ing,His,Fis,Qui,Total,Pc_geral,Aprovado,Eliminado,Fase2
1,19,10,0,0,0,11,8,48,0.585366,True,False,True
2,14,16,0,5,7,4,4,50,0.609756,True,False,True
5,20,2,5,3,2,9,9,50,0.609756,True,False,True
7,18,4,4,7,7,1,8,49,0.597561,True,False,True
8,22,9,2,7,6,5,7,58,0.707317,True,False,True
17,21,15,2,2,4,2,6,52,0.634146,True,False,True
18,20,4,3,5,3,11,4,50,0.609756,True,False,True
24,20,2,7,5,3,11,2,50,0.609756,True,False,True
31,15,13,3,1,3,9,10,54,0.658537,True,False,True
36,22,9,6,6,1,4,8,56,0.682927,True,False,True
37,19,12,5,7,1,6,2,52,0.634146,True,False,True
39,4,16,2,4,6,9,8,49,0.597561,True,False,True
40,18,3,6,3,6,5,6,47,0.573171,True,False,True
42,20,6,7,7,2,3,3,48,0.585366,True,False,True
45,17,10,0,2,6,9,4,48,0.585366,True,False,True
48,17,6,0,7,5,9,11,55,0.670732,True,False,True
60,16,8,0,4,4,7,9,48,0.585366,True,False,True
62,17,6,2,4,7,1,9,46,0.560976,True,False,True
67,21,0,7,2,4,2,10,46,0.560976,True,False,True
70,21,14,0,3,5,11,8,62,0.756098,True,False,True
71,17,8,7,6,4,2,9,53,0.646341,True,False,True
77,15,2,5,7,6,11,7,53,0.646341,True,False,True
78,14,16,7,2,7,11,9,66,0.804878,True,False,True
81,22,16,2,0,4,1,10,55,0.670732,True,False,True
88,20,1,1,5,7,9,7,50,0.609756,True,False,True
93,12,16,5,5,6,6,6,56,0.682927,True,False,True

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [99]:
# arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

arquivo = 'E:/myArchive/7 EBAC/modulo-4-IntroPandas/registros de vacinacao covid ACRE.csv'

In [100]:
df = pd.read_csv(arquivo, sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [55]:
# 1) Numero de vacinas registradas na base
df.shape[0]

174191

In [101]:
# 2) Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)
df['paciente_id'].nunique()

120517

In [106]:
# 3) Quantos pacientes únicos tomaram a primeira dose?
primeira_dose = df['vacina_descricao_dose'].unique()
primeira_dose

array(['\xa0\xa0\xa0\xa01ª\xa0Dose', '\xa0\xa0\xa0\xa02ª\xa0Dose',
       '\xa0\xa0\xa0\xa0Dose\xa0'], dtype=object)

In [107]:
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose[0]].nunique()

119713

In [108]:
# 3) (solução alternativa)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [109]:
# 4) Qauntos pacientes com menos de 18 anos foram vacinados?
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

47

In [110]:
# 5) Quantos estabelecimentos aplicaram vacina no Acre?
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [111]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [112]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [113]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [116]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC

In [117]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(18, 6)